@import 'bootstrap/bootstrap';
@import 'variables';
@import 'logo';
@import 'header';
@import 'digital-financial-suite';
@import 'footer';
@import 'home';
@import 'mobile-carousel';
@import 'wealth-management';
@import 'careers';
@import 'career-details';
@import 'omni-channel';
@import 'personal-financial';
@import 'digital-branch';
@import 'business-financial-experience';
@import 'atm-experience';
@import 'administration-experience';
@import 'request-demo';
@import 'index';
@import 'get-in-touch';

.gmnoprint,
.gm-style-cc {
  display: none;
}
img {
  max-width: 100%;
}

.social-media-container {
  a {
    &[class*='facebook'] {
      &:hover {
        background-color: #4267b2;
        border-color: #4267b2;
        color: white;
      }
    }

    &[class*='linkedin'] {
      &:hover {
        background-color: #2867b2;
        border-color: #2867b2;
        color: white;
      }
    }

    &[class*='youtube'] {
      &:hover {
        background-color: #ff0000;
        border-color: #ff0000;
        color: white;
      }
    }
  }
}
