<app-header [pageTitle]="pageTitle"></app-header>

<div id="section1" class="">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 mb-5 mb-sm-0">
        <div>
          <h5 class="text-uppercase text-danger font-weight-bold">
            THE NEXT BEST THING
          </h5>
          <h2 class="display-5 nowrap-space text-capitalize font-weight-bolder">
            PERSONAL<br />FINANCIAL EXPERIENCE
          </h2>
          <p class="mx-4 mx-sm-0">
            PFM is the digital state-of-art, shaping spending, organizing
            budgets and monitoring expenses. Customer can achieve goals in a
            glance and make planning easy and fun to do.
          </p>
          <p class="know-more">
            <a class="link" [routerLink]="'/personal-financial-experience'">Know more about our PFE</a>
          </p>

          <button class="btn btn-primary" [routerLink]="[
              '/request-demo',
              { interest: DemoServices.PERSONAL_FINANCIAL_SOLUTION }
            ]">
            Request Demo
          </button>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="">
          <div class="digital-chart ">
            <!-- d-none d-md-inline -->
            <div>
              <img src="/assets/images/digital-financial-suite/DigitalSuite_3.png" class="jarallax wow fadeIn"
                data-jarallax-element="-120" />
            </div>

            <div class="digital-chart-car">
              <img src="/assets/images/digital-financial-suite/DigitalSuite_4.png" class="jarallax wow fadeIn"
                data-jarallax-element="-120" />
            </div>
            <div class="digital-chart-groceries">
              <img src="/assets/images/digital-financial-suite/DigitalSuite_2.png" class="jarallax wow fadeIn"
                data-jarallax-element="-120" />
            </div>
          </div>
          <div class="digital-chart-shopping">
            <img src="/assets/images/digital-financial-suite/DigitalSuite_1.png" class="jarallax wow fadeIn"
              data-jarallax-element="-120" />
          </div>
          <div class="digital-comment">
            <img src="/assets/images/digital-financial-suite/DigitalSuite_6.png" class="jarallax wow fadeIn"
              data-jarallax-element="-120" />
          </div>

          <div class="d-flex align-items-end flex-column ">
            <img src="/assets/images/digital-financial-suite/DigitalSuite.png" class=" wow fadeIn"
              style="width: 90%;" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="section2">

  <div class="container">
    <div class="row">
      <div class="col-sm-7"></div>
      <div class="col-sm-5">
        <div>
          <h5 class="text-uppercase text-danger font-weight-bold">
            THE NEXT BEST THING
          </h5>
          <h2 class="display-5 nowrap-space text-capitalize font-weight-bolder">
            BUSINESS <br />
            FINANCIAL EXPERIENCE
          </h2>
          <p class="mx-4 mx-sm-0">
            The Business Financial Experience help corporate customers, in
            addition to the basic banking services, to grow by offering them a
            solution to plan, manage their money and spot the best opportunities
            to expand their businesses.
          </p>
          <p class="know-more">
            <a class="link" [routerLink]="'/business-financial-experience'">Know more about our BFE Experience</a>
          </p>

          <button class="btn btn-primary" [routerLink]="[
              '/request-demo',
              { interest: DemoServices.BUSINESS_FINANCIAL_SOLUTION }
            ]">
            Request Demo
          </button>
        </div>
      </div>
    </div>
  </div>
  <img src="/assets/images/digital-financial-suite/DigitalSuite_10.png"
    class="jarallax wow fadeIn business-financial-image" data-jarallax-element="5" />
  <img src="/assets/images/digital-financial-suite/DigitalSuite_7.png" class="jarallax wow fadeIn transfer-image"
    data-jarallax-element="5" />
</div>

<div id="section3">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div>
          <h5 class="text-uppercase text-danger font-weight-bold">
            THE NEXT BEST THING
          </h5>
          <h2 class="display-5 nowrap-space text-capitalize font-weight-bolder">
            THE ATM <br />
            EXPERIENCE
          </h2>
          <p class="mx-4 mx-sm-0">
            Todays’ Banking is no longer Branches and standing in the line. It’s
            about the accessing financial services anytime and anywhere. ATM
            Experience provide easy transactions in addition to mobile and web
            banking features.
          </p>
          <p class="know-more">
            <a class="link" [routerLink]="'/atm-experience'">Know more about our ATM Experience</a>
          </p>

          <button class="btn btn-primary" [routerLink]="[
              '/request-demo',
              { interest: DemoServices.ATM_SOLUTION }
            ]">
            Request Demo
          </button>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="">
          <div class="atm-woman">
            <img src="/assets/images/digital-financial-suite/DigitalSuite_14.png" class="jarallax wow fadeIn"
              data-jarallax-element="5" />
          </div>
          <div class="atm-light ">
            <img src="/assets/images/digital-financial-suite/DigitalSuite_15.png" class="jarallax wow fadeIn"
              data-jarallax-element="5" />
          </div>

          <div class="atm-chart">
            <img src="/assets/images/digital-financial-suite/DigitalSuite_12.png" class="jarallax wow fadeIn"
              data-jarallax-element="5" />
          </div>
          <div class="atm-car-loan">
            <img src="/assets/images/digital-financial-suite/DigitalSuite_13.png" class="jarallax wow fadeIn"
              data-jarallax-element="5" />
          </div>
          <div class="d-flex align-items-end flex-column atm-machine">
            <img src="/assets/images/digital-financial-suite/DigitalSuite_11.png" class="jarallax wow fadeIn"
              data-jarallax-element="5" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="section4">
  <div class="container">
    <div class="row">
      <div class="col-sm-7"></div>
      <div class="col-sm-5">
        <div>
          <h5 class="text-uppercase text-danger font-weight-bold">
            THE NEXT BEST THING
          </h5>
          <h2 class="display-5 nowrap-space text-capitalize font-weight-bolder">
            DIGITAL BRANCH<br />
            EXPERIENCE
          </h2>
          <p class="mx-4 mx-sm-0">
            Digitizing internal branching process will help branch employees
            focus on more on clients’ needs than on paper works. Customers
            analysis leads to building new products to satisfy their needs.
            Becoming Customer Centric is the main goal of a Digital Branch.
          </p>
          <p class="know-more">
            <a class="link" [routerLink]="'/digital-branch-experience'">Know more about our ATM Experience</a>
          </p>

          <button class="btn btn-primary" [routerLink]="[
              '/request-demo',
              { interest: DemoServices.DIGITAL_BRANCH }
            ]">
            Request Demo
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="digital-branch-comment">
      <img src="/assets/images/digital-financial-suite/DigitalSuite_16.png" class="jarallax wow fadeIn"
        data-jarallax-element="5" />
    </div>
    <div class="digital-branch-profile ">
      <img src="/assets/images/digital-financial-suite/DigitalSuite_19.png" class="jarallax wow fadeIn"
        data-jarallax-element="5" />
    </div>

    <div class="digital-branch-product">
      <img src="/assets/images/digital-financial-suite/DigitalSuite_18.png" class="jarallax wow fadeIn"
        data-jarallax-element="5" />
    </div>
    <div class="digital-branch-education ">
      <img src="/assets/images/digital-financial-suite/DigitalSuite_17.png" class="jarallax wow fadeIn"
        data-jarallax-element="5" />
    </div>

    <div class="digital-branch-pad ">
      <img src="/assets/images/digital-financial-suite/DigitalSuite_20.png" class="jarallax wow fadeIn"
        data-jarallax-element="5" />
    </div>
  </div>
</div>

<div id="section5">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div>
          <h5 class="text-uppercase text-danger font-weight-bold">
            THE NEXT BEST THING
          </h5>
          <h2 class="display-5 nowrap-space text-capitalize font-weight-bolder">
            Weatlth <br />
            Management Experience
          </h2>
          <p class="mx-4 mx-sm-0">
            Customers nowadays are searching for flexibility and reliability.
            Using our client-centric solution, Relationship Managers will have
            the power to focus on their clients' needs with an effective
            management and innovative monitoring tools, by simplifying customers
            operation, reducing risks and giving the customer a full view of his
            portfolio.
          </p>
          <p class="know-more">
            <a class="link" [routerLink]="'/wealth-management'">Know more about our WM Experience</a>
          </p>

          <button class="btn btn-primary" [routerLink]="[
              '/request-demo',
              { interest: DemoServices.WEALTH_MANAGEMENT }
            ]">
            Request Demo
          </button>
        </div>
      </div>
      <div class="col-sm-7"></div>
    </div>
  </div>
  <div class="">
    <div class="wealth-static">
      <img src="/assets/images/digital-financial-suite/DigitalSuite_24.png" class="jarallax wow fadeIn"
        data-jarallax-element="5" />
    </div>

    <div class="Weatlth-comment">
      <img src="/assets/images/digital-financial-suite/DigitalSuite_22.png" class="jarallax wow fadeIn"
        data-jarallax-element="5" />
    </div>

    <div class="wealth-car">
      <img src="/assets/images/digital-financial-suite/DigitalSuite_23.png" class="jarallax wow fadeIn"
        data-jarallax-element="5" />
    </div>
    <img src="/assets/images/digital-financial-suite/DigitalSuite_21.png" class=" wow fadeIn wealth-hand" />
  </div>
</div>

<div id="section6">
  <div class="container">
    <div class="row">
      <div class="col-sm-7"></div>
      <div class="col-sm-5">
        <div>
          <h5 class="text-uppercase text-danger font-weight-bold">
            THE NEXT BEST THING
          </h5>
          <h2 class="display-5 nowrap-space text-capitalize font-weight-bolder">
            THE ADMNISTRATION<br />
            EXPERIENCE
          </h2>
          <p class="mx-4 mx-sm-0">
            While bankers are operating their daily work, management are looking
            for development. Our Administration Experience provide the
            management with a detailed analysis and smart reporting, helping
            them to track, build and innovate. In Addition, our solution will
            help them predict future actions by using our new Data Insights
            tools.
          </p>
          <p class="know-more">
            <a class="link" [routerLink]="'/administration-experience'">Know more about our Administration
              Experience</a>
          </p>

          <button class="btn btn-primary" [routerLink]="[
              '/request-demo',
              { interest: DemoServices.ADMINISTRATION_SOLUTION }
            ]">
            Request Demo
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="adminstration-diagram d-none d-md-inline">
      <img src="/assets/images/digital-financial-suite/adminstration-diagram.png" class="jarallax wow fadeIn"
        data-jarallax-element="5" />
    </div>
    <div class="adminstration-chart ">
      <img src="/assets/images/digital-financial-suite/adminstration-chart.png" class="jarallax wow fadeIn"
        data-jarallax-element="5" />
    </div>
    <div class="adminstration-man ">
      <img src="/assets/images/digital-financial-suite/adminstration-man.png" class="jarallax wow fadeIn"
        data-jarallax-element="5" />
    </div>
    <div class="adminstration-price ">
      <img src="/assets/images/digital-financial-suite/adminstration-price.png" class="jarallax wow fadeIn"
        data-jarallax-element="5" />
    </div>
    <div class="adminstration-woman ">
      <img src="/assets/images/digital-financial-suite/adminstration-woman.png" class="jarallax wow fadeIn"
        data-jarallax-element="5" />
    </div>

    <div class="adminstration-laptop">
      <img src="/assets/images/digital-financial-suite/adminstration-laptop.png" class="jarallax wow fadeIn"
        data-jarallax-element="5" />
    </div>
  </div>
</div>

<app-footer></app-footer>
