<app-header [pageTitle]="pageTitle"></app-header>

<div id="title">
  <div class="container wow fadeIn ">
    <div class="intro-info-content d-flex flex-column align-items-center text-center">
      <h5 class="text-uppercase text-danger font-weight-bold">
        The next big thing
      </h5>
      <h1 class="display-5 text-capitalize font-weight-bolder">
        The Administration Experience
      </h1>
      <p class="w-50">
        While bankers are operating their daily work, management are looking for development. Our
        <strong>Administration
          Experience</strong> provide the management with a detailed analysis and smart reporting, helping them to
        track, build and
        innovate. In Addition, our solution will help them predict future actions by using our new Data Insights tools.
      </p>
      <button type="button" class="btn btn-primary" [routerLink]="[
          '/request-demo',
          { interest: DemoServices.ADMINISTRATION_SOLUTION }
        ]">
        Request Demo
      </button>
    </div>
  </div>
</div>

<div id="section1">
  <img src="/assets/images/administration-experience/Administration_img_laptop.png"
    class="jarallax wow fadeIn laptop-img" data-jarallax-element="-120" />
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="mt-5 pb-5 wow fadeIn">
          <h4 class="font-weight-bolder d-flex justify-content-center justify-content-sm-start">Overview</h4>
          <p class="mx-4 mx-sm-0 ">
            Explore you branches by managing existing products, reviewing the existing workflow along with the
            upcoming tasks and monitoring their latest activities. Customizable Dashboard will help you personalize it
            with unlimited analysis services.
          </p>
        </div>
      </div>
      <div class="col-sm-7"></div>
    </div>
  </div>
</div>

<div id="section2">
  <div class="container">
    <img src="/assets/images/administration-experience/Administration_img_sales_static.png"
      class="jarallax wow fadeIn sales-static" data-jarallax-element="-120" />
    <div class="row">
      <div class="col-sm-7">
        <img src="/assets/images/administration-experience/Administration_img_target_achieved.png"
          class="jarallax wow fadeIn target-achieved " data-jarallax-element="-120" />
      </div>
      <div class="col-sm-5">
        <div class="mt-5  pl-md-5 pb-5 wow fadeIn ">
          <h4 class="font-weight-bolder d-flex justify-content-center justify-content-sm-start">Smart Reporting</h4>
          <p class="mx-4 mx-sm-0 mb-0">
            Inspect your business performance using our<strong> Smart Reporting System,</strong> by visualizing live and
            in-depth
            insights and metrics through multiple type of charts.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="section3">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="mt-5 pb-5 pr-md-5 wow fadeIn text-white">
          <h4 class="font-weight-bolder d-flex justify-content-center justify-content-sm-start">User Management</h4>
          <p class="mx-4 mx-sm-0 mb-0">
            One Place to manage all your users, groups and identities. A Secure container to store username and
            passwords and integrate group policies for each position and service.
          </p>
        </div>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-5">
        <img src="/assets/images/administration-experience/Administration_img_user_woman.png"
          class="jarallax wow fadeIn user-img" data-jarallax-element="-120" />
      </div>
    </div>
  </div>
  <img src="/assets/images/administration-experience/Administration_img_diagram_user.png"
    class="jarallax wow fadeIn diagram-img" data-jarallax-element="-120" />
</div>

<div id="section4" class="jarallax">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="mt-5 pb-5 wow fadeIn ">
          <h4 class="font-weight-bolder d-flex justify-content-center justify-content-sm-start">Product Builder</h4>
          <p class="mx-4 mx-sm-0 ">
            Following all insights generated and personal bankers’ reviews, available data will suggest products to be
            build which may satisfy the bank needs. Management will be able then to create new products and launch them
            through our<strong>
              Product Builder.</strong>
          </p>
        </div>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-5">
        <img src="/assets/images/administration-experience/Administration_img_rate.png"
          class="jarallax wow fadeIn rate-img" data-jarallax-element="-120" />
      </div>
    </div>
  </div>
  <img src="/assets/images/administration-experience/Administration_img_chart_diagram.png"
    class="jarallax wow fadeIn diagram-img" data-jarallax-element="-120" />
</div>

<div id="section5">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 d-none d-sm-block ">
        <img src="/assets/images/administration-experience/Administration_img_user_permission.png"
          class="jarallax wow fadeIn connected-people" data-jarallax-element="-120" />
      </div>
      <div class="col-sm-5">
        <div class="mt-5 pb-5 wow fadeIn ">
          <h4 class="font-weight-bolder d-flex justify-content-center justify-content-sm-start">Users & Permisions</h4>
          <p class="mx-4 mx-sm-0 ">
            Detailed access and permission levels will help structuring the solution in order to reduce all risks by
            fine-tuning user’s ability. Management of accounts, groups and users will also reflect an organized
            structure.
          </p>
        </div>
      </div>
      <div class="col-sm-7 d-sm-none d-block ">
          <img src="/assets/images/administration-experience/Administration_img_user_permission.png"
            class="jarallax wow fadeIn connected-people" data-jarallax-element="-120" />
        </div>
    </div>
  </div>
</div>

<div id="section6">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="mt-5 pb-5 wow fadeIn ">
          <h4 class="font-weight-bolder d-flex justify-content-center justify-content-sm-start">Product Sales</h4>
          <p class="mx-4 mx-sm-0 ">
            <strong>Product Sales</strong> will provide details products report in terms of sales and engagement. This
            will lead to
            more understand customers need for future improvements. In Addition, targeting reports can be generate
            monthly and yearly.
          </p>
        </div>
      </div>
      <div class="col-sm-7">
        <img src="/assets/images/administration-experience/Administration_img_product_sale.png"
          class="jarallax wow fadeIn product-sale" data-jarallax-element="-120" />
      </div>
    </div>
  </div>
</div>

<div id="section7">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 d-none d-sm-inline">
        <img src="/assets/images/administration-experience/Administration_img_notification.png"
          class="jarallax wow fadeIn notification-img" data-jarallax-element="-120" />
      </div>
      <div class="col-sm-5">
        <div class="mt-5 pb-5 wow fadeIn ">
          <h4 class="font-weight-bolder d-flex justify-content-center justify-content-sm-start">Track activities</h4>
          <p class="mx-4 mx-sm-0 ">
            Latest activities can also be monitored by management staff. For administration purpose, it can be also
            filtered between customers view and employees view.
          </p>
        </div>
        <img src="/assets/images/administration-experience/Administration_img_track_activity.png"
          class="jarallax wow fadeIn tracking-img" data-jarallax-element="-120" />
      </div>
      <div class="col-sm-7 d-sm-none d-inline">
        <img src="/assets/images/administration-experience/Administration_img_notification.png"
          class="jarallax wow fadeIn notification-img" data-jarallax-element="-120" />
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
